<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bds
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)/([^/]+)/page-([0-9]+).html$ ?cat=$1&ali=$2&p=$3 [L]
RewriteRule ^([^/]+)/([^/]+).html$ ?cat=$1&ali=$2&frame=$3 [L]

RewriteRule ^mua-hang/([0-9]+)/([A-Za-z0-9\-]+).html$ ?cat=$1&ali=$2&frame=cart [L]
#RewriteRule ^category/([a-zA-Z]+).html$ ?keyword=$1&frame=keyword [L]
#RewriteRule ^category/([^/]+)/([0-9]+).html$ ?keyword=$1&ali=$2&frame=keyword [L]
RewriteRule ^tim-kiem/([^/]+).html$ ?keyword=$1&frame=search [L]
RewriteRule ^tim-kiem/([^/]+)/([0-9]+).html$ ?keyword=$1&p=$2&frame=search [L]

RewriteRule ^trang-chu.html$ ?frame=home [L]
RewriteRule ^gioi-thieu.html$ ?frame=intro [L]
RewriteRule ^lien-he.html$ ?frame=contact [L]
RewriteRule ^dang-nhap.html$ ?frame=login [L]
RewriteRule ^dang-xuat.html$ ?frame=logout [L]
RewriteRule ^gio-hang.html$ ?frame=cart [L]
RewriteRule ^huy/([0-9]+)/gio_hang.html$ ?pos=$1&act=del&frame=cart [L]
RewriteRule ^dang-ky.html$ ?frame=registry [L]
RewriteRule ^quen-mat-khau.html$ ?frame=forgotpass [L]
RewriteRule ^thanh-toan.html$ ?frame=checkout [L]
RewriteRule ^thanh-toan-ok.html$ ?code=$&frame=checkoutok [L]
RewriteRule ^site-map.html$ ?frame=sitemap [L]
</IfModule>