<div class="tit-bg">Chọn màu Giao diện:</div>
<div><a title="default" href="#"><img
	src="images/bg-menu-item-green.gif" alt="default" /></a></div>
<div><a title="black" href="#"><img
	src="images/bg-menu-item-black.gif" alt="black" /></a></div>
<div><a title="blue" href="#"><img
	src="images/bg-menu-item-blue.gif" alt="blue" /></a></div>
<div><a title="orange" href="#"><img
	src="images/bg-menu-item-orange.gif" alt="orange" /></a></div>
<div><a title="pink" href="#"><img
	src="images/bg-menu-item-pink.gif" alt="pink" /></a></div>
<div><a title="purple" href="#"><img
	src="images/bg-menu-item-purple.gif" alt="purple" /></a></div>
<div><a title="red" href="#"><img
	src="images/bg-menu-item-red.gif" alt="red" /></a></div>
<div><a title="teal" href="#"><img
	src="images/bg-menu-item-teal.gif" alt="teal" /></a></div>
<div><a title="white" href="#"><img
	src="images/bg-menu-item-white.gif" alt="white" /></a></div>
<div><a title="yellow" href="#"><img
	src="images/bg-menu-item-yellow.gif" alt="yellow" /></a></div>
<div class="clear"></div>
