<form method="POST" name="frmChangePass" action="./">
<table border="1" cellpadding="0" cellspacing="0" bordercolor="#0069A8" width="100%">
	<tr>
		<td width="100%" align="center">
			<table border="0" cellpadding="2" bordercolor="#111111" width="450" cellspacing="0">
				<tr>
					<td width="30%" align="right" class="smallfont">Mật khẩu cũ</td>
					<td class="smallfont"><INPUT id="txtPwdOld" TYPE="password" NAME="txtPwdOld" size="34"></td>
				</tr>
				<tr>
					<td width="30%" align="right" class="smallfont">Mật khẩu mới</td>
					<td class="smallfont"><INPUT id="txtPwdNew1" TYPE="password" NAME="txtPwdNew1" size="34"></td>
				</tr>
				<tr>
					<td width="30%" align="right" class="smallfont">Xác nhận mật khẩu mới</td>
					<td class="smallfont"><INPUT id="txtPwdNew2" TYPE="password" NAME="txtPwdNew2" size="34"></td>
				</tr>
				<tr><td colspan="2" height="10"></td></tr>
			</table>
		</td>
	</tr>
</table>
</form>