<div>
<div>
<ul class="shortcut-buttons-set">
	<li><a class="shortcut-button" href="./"
		style="width: 60px; height: 60px;" title="Về Bảng Điều Khiển"><span>
	<img src="images/header/frontpage.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=config"
		style="width: 60px; height: 60px;" title="Cấu hình"><span>
	<img src="images/header/config.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=site_index"
		style="width: 60px; height: 60px;" title="Chỉ mục website"><span>
	<img src="images/header/index_site.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=member"
		style="width: 60px; height: 60px;" title="Thành viên"><span>
	<img src="images/header/member.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=general"
		style="width: 60px; height: 60px;" title="Nội dung trang chủ"><span>
	<img src="images/header/general.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=web"
		style="width: 60px; height: 60px;" title="Thiết kế web"><span>
	<img src="images/header/web.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=game"
		style="width: 60px; height: 60px;" title="Thế giới game"><span>
	<img src="images/header/game.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=project"
		style="width: 60px; height: 60px;" title="Dự án web"><span>
	<img src="images/header/project.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=album"
		style="width: 60px; height: 60px;" title="Quản lý album"><span>
	<img src="images/header/album.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=gallery"
		style="width: 60px; height: 60px;" title="Quản lý hình ảnh"><span>
	<img src="images/header/images.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
	<li><a class="shortcut-button" href="./?act=contact"
		style="width: 60px; height: 60px;" title="Liên hệ"><span> <img
		src="images/header/contact.png" alt="icon" class="toolTipImg"><br>
	</span></a></li>
</ul>
<div class="clear"></div>
<span class="title">BATDONGSAN6688.COM</span>
</div>
<div class="clear"></div>
</div>

