<div class="legacy-mode">version: 4.0</div>
<div class="preview"><a href="../" target="_blank">Trang chủ</a></div>
<div class="loggedin-users"><a href="#"></a></div>
<!--<div class="get-news"><a href="#">Cập nhật tin</a></div>
<div class="empty-cache"><a href="#">Xoá Cache</a>
<ul>
	<li><a title="home" href="#">Trang chủ</a></li>
	<li><a title="content" href="#">Nội dung</a></li>
	<li><a title="contact" href="#">Liên hệ</a></li>
        <li><a title="side_bar" href="#">Nội dung phải</a></li>
	<li><a title="all" href="#">Xoá tất cả</a></li>
</ul>
</div>-->
<div class="logout"><a href="#">Thoát</a></div>
